<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>body {background-color: #98F5FF;}</style>
</head>
<body TEXT="#DC143C">
    <br>
    <h1 style="text-align:center; span=font-family: Arial;">ГЛАВНАЯ СТРАНИЦА</h1>
    <br>
    <hr width=600, size=2, color=>
    <br>
        <ul style="text-align:center; span style=font-family: Arial;">
            <li><h2><a href="#">Главная страница</a></h2></li>
            <li><h2><a href="http://127.0.0.1:8000/page_1" target="_self">Магазин</a></h2></li>
            <li><h2><a href="http://127.0.0.1:8000/page_2" target="_self">Корзина</a></h2></li>
        </ul>

</body>
</html>