<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <style>body {background-color: #8EE5EE;}</style>
</head>
<body TEXT="#FF6103">

    <br>
    <h1 style="text-align:center; span=font-family: Arial;">МАГАЗИН</h1>
    <br>
    <hr width=600, size=2, color=>
    <br>
    <ul style="text-align:center; span style=font-family: Arial;">
        <li>{{ point_1 }}<button>КУПИТЬ</button></li>
        <li>{{ point_2 }}<button>КУПИТЬ</button></li>
        <li>{{ point_3 }}<button>КУПИТЬ</button></li>
    </ul>

    <a href="http://127.0.0.1:8000"><button >ВОЗВРАТ НА ГЛАВНУЮ СТРАНИЦУ</button></a>

</body>
</html>